body{
	background : linear-gradient(to right, rgb(253, 51, 9), rgb(255, 128, 64));
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 50px;
	/*background-color: white;*/

}

.logo{
	width: 290px;
}

.musicControls {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 150px;
}

.musicControls > div >img {
	height: 50px;
	width: 50px;
	background-color: #f4f4f4;
	border-radius: 50%;
	padding: 10px;
}

#anouncement {
	margin: 10px auto;
	width: 90vw;
	text-align: center;
	color: yellow;
	font-size: 25px;
}

.gameDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 90vw;
	min-width: 300px;
	margin: 10px auto;
	
	
	 
}

.arena {
	display: flex;
	justify-content: center;
	align-items:  baseline;
	width: 70vw;
	min-width: 295px;
	/*flex-wrap: wrap;*/
	margin: 20px 0px;
	

	
}

.player, .opponent {
	margin: 20px 10px;
	
	
	
}

.selection{
	width: 80vw;
	min-width: 295px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

.selectionChars {
	/*width: 30vw;*/
	min-width: 280px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin:1vw 1vh;
	box-shadow: 5px 5px 15px gray;
	text-align: center;
	border-radius: 2px;
	background : linear-gradient(to right, rgb(0, 0, 0), rgb(64, 0, 0));
	position: relative;
}

.selectionChars:hover {
	transform: scale(1.025);
	transition: 300ms ease-out;
}

.charDetails{
	color: #f4f4f4;
	/*display: none;*/
	margin: 10px 30px;
}



.charImage{
	height:200px;
	width: 200px;
	border:solid #f4f4f4 3px;
	border-radius: 2px;
	margin: 2vw 2vh;

}


.fightButton{
	outline: none;
	border: none;
	cursor: pointer;
	display: block;
	position: relative;
	background-color: gray;
	color: white;
	font-size: 16px;
	font-weight: 300px;
	padding: 20px 60px;
	border-radius: 20px;
	box-shadow: 0px 8px black;
}

.fightButton:hover{
	box-shadow: 0px 4px black;
	top: 2px;
}

.fightButton:active{
	box-shadow: 0px 0px black;
	top: 8px;
}

.attack {
	color: red;
}

.defense {
	color: yellow;
}

.charHP {
	color: green;
}

.verdict {
	text-align: center;
	font-size: 20px;
	color: white;
}


